---
http_interactions:
- request:
    method: get
    uri: https://api.enigma.io/v2/stats/test-key/us.gov.whitehouse.visitor-list?by=avg&of=total_people&select=release_date
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1451852404"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"datapath\": \"us.gov.whitehouse.visitor-list\",\n  \"success\":
        true,\n  \"info\": {\n    \"column\": {\n      \"id\": \"release_date\",\n
        \     \"label\": \"Release Date\",\n      \"description\": \"Release Date\",\n
        \     \"type\": \"type_date\",\n      \"index\": 28\n    },\n    \"operations\":
        [\n      \"compound_avg\"\n    ],\n    \"rows_limit\": 500,\n    \"total_results\":
        52,\n    \"total_pages\": 1,\n    \"current_page\": 1\n  },\n  \"result\":
        {\n    \"compound_avg\": [\n      {\n        \"release_date\": \"2010-03-26T00:00:00.000Z\",\n
        \       \"avg\": \"734.1429047671963552\"\n      },\n      {\n        \"release_date\":
        \"2013-11-08T00:00:00.000Z\",\n        \"avg\": \"679.4682244439277687\"\n
        \     },\n      {\n        \"release_date\": \"2012-06-29T00:00:00.000Z\",\n
        \       \"avg\": \"533.7427734055372897\"\n      },\n      {\n        \"release_date\":
        \"2010-08-27T00:00:00.000Z\",\n        \"avg\": \"455.2680450957263406\"\n
        \     },\n      {\n        \"release_date\": \"2010-09-24T00:00:00.000Z\"[...]
