---
http_interactions:
- request:
    method: get
    uri: https://api.enigma.io/v2/data/test-key/us.gov.whitehouse.salaries
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"success\": false,\n  \"info\": {\n    \"status\": 400,\n    \"message\":
        \"Bad request\",\n    \"additional\": \"Datapath is not a table\",\n    \"error\":
        true\n  }\n}"
  recorded_at: Sun, 26 Jan 2014 21:03:44 GMT
recorded_with: VCR 2.8.0
