---
http_interactions:
- request:
    method: get
    uri: https://api.enigma.io/v2/data/test-key/us.gov.whitehouse.visitor-list?search=@namefirst%20(Steve%7CJoe)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"-1247692001"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"datapath\": \"us.gov.whitehouse.visitor-list\",\n  \"success\":
        true,\n  \"info\": {\n    \"rows_limit\": 500,\n    \"total_results\": 3767,\n
        \   \"total_pages\": 8,\n    \"current_page\": 1\n  },\n  \"result\": [\n
        \   {\n      \"namelast\": \"ARAUZ\",\n      \"namefirst\": \"STEVE\",\n      \"namemid\":
        null,\n      \"namefull\": \"STEVE ARAUZ\",\n      \"uin\": \"STARMX\",\n
        \     \"bdgnbr\": null,\n      \"type_of_access\": \"AL\",\n      \"toa\":
        null,\n      \"poa\": null,\n      \"tod\": null,\n      \"pod\": null,\n
        \     \"appt_made_date\": \"2010-05-08T14:39:00.000Z\",\n      \"appt_start_date\":
        \"2010-05-19T11:00:00.000Z\",\n      \"appt_end_date\": \"2010-05-20T03:00:00.000Z\",\n
        \     \"appt_cancel_date\": null,\n      \"total_people\": \"3275\",\n      \"last_updatedby\":
        \"LC\",\n      \"post\": \"WIN\",\n      \"lastentrydate\": \"2010-05-08T14:39:00.000Z\",\n
        \     \"terminal_suffix\": \"LC\",\n      \"visitee_namelast\": \"POTUS\",\n
        \     \"visitee_namefirst\": null,\n      \"meeting_loc\": \"WH\",\n      \"meeting_room\":
        \"S GROUNDS\",\n      \"caller_name_last\": \"OFFICE\",\n      \"caller_name_first\":
        \"VISITORS\",\n      \"caller_room\": null,\n      \"description\": \"STATE
        ARRIVAL - MEXICO**\",\n      \"release_date\": \"2010-08-27T00:00:00.000Z\",\n
        \     \"serialid\": 95\n    },\n    {\n      \"namelast\": \"BACA\",\n      \"namefirst\":
        \"JOE\",\n      \"namemid\": null,\n      \"namefull\": \"JOE BACA\",\n      \"uin\":
        \"STARMX\",\n      \"bdgnbr\": null,\n      \"type_of_access\": \"AL\",\n
        \     \"toa\": null,\n      \"poa\": null,\n      \"tod\": null,\n      \"pod\":
        null,\n      \"appt_made_date\": \"2010-05-07T22:59:00.000Z\",\n      \"appt_start_date\":
        \"2010-05-19T11:00:00.000Z\",\n      \"appt_end_date\": [...]
