---
http_interactions:
- request:
    method: get
    uri: https://api.enigma.io/v2/data/test-key/us.gov.whitehouse.visitor-list?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1671210483"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"datapath\": \"us.gov.whitehouse.visitor-list\",\n  \"success\":
        true,\n  \"info\": {\n    \"rows_limit\": 1,\n    \"total_results\": 3427529,\n
        \   \"total_pages\": 3427529,\n    \"current_page\": 1\n  },\n  \"result\":
        [\n    {\n      \"namelast\": \"BELBAS\",\n      \"namefirst\": \"TED\",\n
        \     \"namemid\": null,\n      \"namefull\": \"TED BELBAS\",\n      \"uin\":
        \"U14155\",\n      \"bdgnbr\": null,\n      \"type_of_access\": \"VA\",\n
        \     \"toa\": null,\n      \"poa\": null,\n      \"tod\": null,\n      \"pod\":
        null,\n      \"appt_made_date\": \"2010-06-15T21:23:00.000Z\",\n      \"appt_start_date\":
        \"2010-06-17T20:00:00.000Z\",\n      \"appt_end_date\": \"2010-06-18T03:59:00.000Z\",\n
        \     \"appt_cancel_date\": null,\n      \"total_people\": \"466\",\n      \"last_updatedby\":
        \"T1\",\n      \"post\": \"WIN\",\n      \"lastentrydate\": \"2010-06-15T21:23:00.000Z\",\n
        \     \"terminal_suffix\": \"T1\",\n      \"visitee_namelast\": \"OFFICE\",\n
        \     \"visitee_namefirst\": \"VISITORS\",\n      \"meeting_loc\": \"WH\",\n
        \     \"meeting_room\": \"RES\",\n      \"caller_name_last\": \"OFFICE\",\n
        \     \"caller_name_first\": \"VISITORS\",\n      \"caller_room\": null,\n
        \     \"description\": null,\n      \"release_date\": \"2010-09-24T00:00:00.000Z\",\n
        \     \"serialid\": 1\n    }\n  ]\n}"
  recorded_at: Sun, 26 Jan 2014 21:22:24 GMT
recorded_with: VCR 2.8.0
