---
http_interactions:
- request:
    method: get
    uri: https://api.enigma.io/v2/data/test-key/us.gov.whitehouse.visitor-list?select=namefirst,namelast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"-1650042425"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"datapath\": \"us.gov.whitehouse.visitor-list\",\n  \"success\":
        true,\n  \"info\": {\n    \"rows_limit\": 500,\n    \"total_results\": 3427529,\n
        \   \"total_pages\": 6856,\n    \"current_page\": 1\n  },\n  \"result\": [\n
        \   {\n      \"namefirst\": \"TED\",\n      \"namelast\": \"BELBAS\"\n    },\n
        \   {\n      \"namefirst\": \"DAVID\",\n      \"namelast\": \"BOUL\"\n    },\n
        \   {\n      \"namefirst\": \"TOM\",\n      \"namelast\": \"ATKIN\"\n    },\n
        \   {\n      \"namefirst\": \"GARY\",\n      \"namelast\": \"MATTHEWS\"\n
        \   },\n    {\n      \"namefirst\": \"PATRICIA\",\n      \"namelast\": \"DOYLE\"\n
        \   },\n    {\n      \"namefirst\": \"SANDY\",\n      \"namelast\": \"MATTHEWS\"\n
        \   },\n    {\n      \"namefirst\[...]
