---
http_interactions:
- request:
    method: get
    uri: https://api.enigma.io/v2/stats/test-key/us.gov.whitehouse.visitor-list?select=type_of_access
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"datapath\": \"us.gov.whitehouse.visitor-list\",\n  \"success\":
        true,\n  \"info\": {\n    \"column\": {\n      \"id\": \"type_of_access\",\n
        \     \"label\": \"Type Of Access\",\n      \"description\": \"Type of access
        to the complex (VA = Visitor Access)\",\n      \"type\": \"type_varchar\",\n
        \     \"index\": 6\n    },\n    \"operations\": [\n      \"frequency\"\n    ],\n
        \   \"rows_limit\": 500,\n    \"total_results\": 5,\n    \"total_pages\":
        1,\n    \"current_page\": 1\n  },\n  \"result\": {\n    \"frequency\": [\n
        \     {\n        \"type_of_access\": \"VA\",\n        \"count\": \"3383388\"\n
        \     },\n      {\n        \"type_of_access\": \"AL\",\n        \"count\":
        \"28384\"\n      },\n      {\n        \"type_of_access\": \"PE\",\n        \"count\":
        \"12\"\n      },\n      {\n        \"type_of_access\": \"WO\",\n        \"count\":
        \"8\"\n      },\n      {\n        \"type_of_access\": null,\n        \"count\":
        \"0\"\n      }\n    ]\n  }\n}"
  recorded_at: Sun, 26 Jan 2014 21:29:06 GMT
recorded_with: VCR 2.8.0
