---
http_interactions:
- request:
    method: get
    uri: https://api.enigma.io/v2/data/test-key/us.gov.whitehouse.visitor-list?sort=namefirst
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1302472337"'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"datapath\": \"us.gov.whitehouse.visitor-list\",\n  \"success\":
        true,\n  \"info\": {\n    \"rows_limit\": 500,\n    \"total_results\": 3427529,\n
        \   \"total_pages\": 6856,\n    \"current_page\": 1\n  },\n  \"result\": [\n
        \   {\n      \"namelast\": \"BUNGY\",\n      \"namefirst\": \"ZYVIAR\",\n
        \     \"namemid\": null,\n      \"namefull\": \"ZYVIAR BUNGY\",\n      \"uin\":
        \"U13286\",\n      \"bdgnbr\": null,\n      \"type_of_access\": \"VA\",\n
        \     \"toa\": null,\n      \"poa\": null,\n      \"tod\": null,\n      \"pod\":
        null,\n      \"appt_made_date\": \"2010-06-10T20:44:00.000Z\",\n      \"appt_start_date\":
        \"2010-06-11T15:30:00.000Z\",\n      \"appt_end_date\": \"2010-06-12T03:59:00.000Z\",\n
        \     \"appt_cancel_date\": null,\n      \"total_people\": \"430\",\n      \"last_updatedby\":
        \"GB\",\n      \"post\": \"WIN\",\n      \"lastentrydate\": \"2010-06-10T20:44:00.000Z\",\n
        \     \"terminal_suffix\": \"GB\",\n      \"visitee_namelast\": \"OFFICE\",\n
        \     \"visitee_namefirst\": \"VISITORS\",\n      \"meeting_loc\": \"WH\",\n
        \     \"meeting_room\": \"RESIDENCE\",\n      \"caller_name_last\": \"OFFICE\",\n
        \     \"caller_name_first\": \"VISITORS\",\n      \"caller_room\": null,\n
        \     \"description\": \"GROUP TOURS./\",\n      \"release_date\": \"2010-09-24T00:00:00.000Z\",\n
        \     \"serialid\": 728602\n    },\n    {\n      \"namelast\": \"DAVIS\",\n
        \     \"namefirst\": \"ZYTYRA\",\n      \"namemid\": \"K\",\n      \"namefull\":
        \"ZYTYRA K DAVIS\",\n      \"uin\": \"U67636\",\n      \"bdgnbr\": null,\n
        \     \"type_of_access\": \"VA\",\n      \"toa\": null,\n      \"poa\": null,\n
        \     \"tod\": null,\n      \"pod\": null,\n      \"appt_made_date\": \"2010-12-13T17:30:00.000Z\",\n
        \     \"appt_start_date\": \"2010-12-14T14:30:00.000Z\",\n      \[...]
